<div id="spell-modal">
    <h1 class="modal-header">{{spell.name}}</h1>
    <div class="modal-body">
        <section class="row">
            <span class="col-xs-4" ng-repeat="class in spell.classes"><i class="fa fa-user"></i> {{class.name}} {{class.level}}</span>
        </section>
        <div class="row">
            <section class="col-xs-6">
                <p>
                    <i class="fa fa-building-o"></i> {{spell.school | capitalize}}
                    <span ng-if="spell.subSchool"> - {{spell.subSchool | capitalize}}</span>
                </p>
                <p ng-if="spell.savingThrow"><i class="fa fa-life-ring"></i> {{spell.savingThrow}}</p>
                <p ng-if="spell.area"><i class="fa fa-globe"></i> {{spell.area}}</p>
                <p ng-if="spell.range"><i class="fa fa-truck"></i> {{spell.range}}</p>
                <p ng-if="spell.duration"><i class="fa fa-clock-o"></i> {{spell.duration}}</p>
            </section>
            <section class="col-xs-6" ng-if="spell.showDetails">
                <p ng-if="spell.target"><i class="fa fa-crosshairs"></i> {{spell.target}}</p>
                <p ng-if="spell.descriptor"><i class="fa fa-question"></i> {{spell.descriptor}}</p>
                <p ng-if="spell.components"><i class="fa fa-flask"></i> {{spell.components}}</p>
                <p ng-if="spell.spellResistance"><i class="fa fa-shield"></i> {{spell.spellResistance}}</p>
                <p ng-if="spell.castingTime"><i class="fa fa-clock-o"></i> {{spell.castingTime}}</p>
            </section>
            <button class="col-xs-6 btn btn-info pull-right" ng-if="!spell.showDetails" ng-click="showDetails(spell)">Show Details</button>
        </div>
        <p>{{spell.description}}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="close()">Close</button>
    </div>
</div>
