html {
    height: 100%;
    font-size: 62.5%; //Give us about 10 px/rem
    > body {
        height: 100%;
        font-size: 1.4rem;
        
        > .container {
            min-height: calc(100% - 50px);
        }
        
        > footer {
            padding-top: 10px;
            text-align: center;
            font-size: 1.2rem;
            height: 50px;
        }
    }
}

