$footer-height: 70px;

html {
    height: 100%;
    font-size: 62.5%; //Give us about 10 px/rem
    > body {
        height: 100%;
        font-size: 1.4rem;
        
        > .container {
            height: 100%;

            > .view-frame {
                display: block;
                min-height: calc(100% - #{$footer-height} - 20px);

            }
            > footer {
                padding-top: 10px;
                text-align: center;
                font-size: 1.2rem;
                height: $footer-height;
            }
        }
    }
}
