$footer-height: 70px;


h1 {
    border-bottom: 1px solid gray;
}

html {
    height: 100%;
    font-size: 62.5%; //Give us about 10 px/rem
    > body {
        height: 100%;
        font-family: Sans-Serif;
        font-size: 1.4rem;

        a {
            cursor: pointer;
        }
        
        > .background {
            position: fixed;
            top: 0;
            left: 0;
            min-height: 100%;
            height: auto;
            width: 100%;
            z-index: -1;
        }

        #wrapper {
            height: 100%;
            padding-left: 300px;
            > .container-fluid {
                height: 100%;
                position: relative;

                > .view-frame {
                    display: block;
                    min-height: calc(100% - #{$footer-height} - 20px);

                }
                > footer {
                    padding-top: 10px;
                    text-align: center;
                    font-size: 1.2rem;
                    height: $footer-height;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    #wrapper {
        padding-left: 0px!important;
    }
}
