#linux {
    img {
        width: calc(100% - 301px);
    }
    p {
        max-width: 1000px;
        font-size: 1.5em;
    }
}
@media only screen and (max-width:768px) {
    #linux {
        img {
            width: 100%!important;
        }
    }
}
