#minesweeper {

    .top-bar {
        font-size: 1.5em;
    }

    .bottom-bar {
        padding-top: 1em;
    }

    .win-message {
        color: $success;
    }

    .loss-message {
        color: $failure;
    }

    .minefield {
        display: flex;
        color: #fff;

        .mine-text {
            font-size: 2em;
        }
        .cell {
            border-color: rgba(0, 0, 0, 0.6);
            border-style: solid;
            border-width: 1px;
            height: 3em;
            width: 3em;
            text-align: center;

            &.cell-unclear {
                background-color: $primary;
                &:hover {
                    background-color: $primary-dark;
                }
            }

            &.cell-clear {
                background-color: $success;
                &:hover {
                    background-color: $success-dark;
                }
            }

            &.cell-bomb {
                background-color: $failure;
                &:hover {
                    background-color: $failure-dark;
                }
            }
        }
    }
}
