<div id="linux">
    <h1>Linux</h1>
    <p>I have been using Linux as my primary operating system since 2008, when I discovered the beauty of <a href="https://getfedora.org/">Fedora</a>. Since then I have used dozens of distributions and finally managed to settle on <a href="http://crunchbang.org/">Crunchbang</a>, which I used for 3 years until it finally shut down development. Since then I have used a heavily modified <a href="www.ubuntu.com/">Ubuntu</a> build using <a href="http://openbox.org/wiki/Main_Page">OpenBox</a> as the Window Manager. Enough nerd-talk. Enjoy the pretty pictures of my desktop below.
</div>
