<h1>Minesweeper</h1>
<section class="top-bar">
	<p>Bombs: {{numberOfFlags}}
		<span class="pull-right">Uncleared: {{getNumberOfUnclearedCells()}}</span>
	</p>
	<p class="win-message" ng-show="hasWon">You have won!</p>
	<p class="loss-message" ng-show="hasLost">You have lost.</p>
</section>
<section class="minefield">
	<div ng-repeat="row in rows">
		<div class="cell" ng-class="{'cell-unclear': !cell.selected, 'cell-clear': cell.selected && !cell.bomb, 'cell-bomb': cell.selected && cell.bomb}"
			ng-repeat="cell in row.cells"
			ng-click="selectCell(cell)">
			<p class="mine-text">{{cell.bombsNearby}}</p>
		</div>
	</div>
</section>
<section class="bottom-bar">
	<button class="btn btn-default" ng-click="resetGame()">Reset</button>
</section>
