<h1>Pathfinder Spellbook</h1>
<div ng-repeat="spell in spellbook">
    <div>{{spell.name}}</div>
            <div>    {{spell.descriptor}}</div>
                <div>    {{spell.casting_time}}</div>
                    <div>    {{spell.area}}</div>
                        <div>    {{spell.range}}</div>
                            <div>    {{spell.short_description}}</div>
                                <div>    {{spell.target}}</div>
                                    <div>    {{spell.school}}</div>
                                        <div>    {{spell.subschool}}</div>
        <div>    {{spell.level}}</div>
            <div>    {{spell.saving_throw}}</div>
                <div>    {{spell.components}}</div>
                    <div>    {{spell.spell_resistance}}</div>
                        <div>    {{spell.reference}}</div>
                            <div>    {{spell.effect}}</div>
</div>
