<div id="pathfinder-spellbook">
    <h1>Pathfinder Spellbook</h1>
    <section>
        <h2>
            <input class="search form-control" type="text" ng-model="search.name" placeholder="Search"/>
            <select class="form-control" ng-model="search.level" ng-options="type for type in casterTypes">
                <option value="">--Select Class--</option>
            </select>
        </h2>
        <div class="spells">
            <article ng-click="drillIntoSpell(spell)" ng-repeat="spell in spellbook | filter: search">
                <h3>{{spell.name}}</h3>
                <div ng-repeat="class in spell.classes">
                    <i class="fa fa-user"></i> {{class.name}} {{class.level}}
                </div>
                <div>{{spell.shortDescription}}</div>
            </article>
        </div>
    </section>
</div>
