h3.sectionHeader {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  font-size: 30px;
  transition: filter ease 0.2s;
  transition: -webkit-filter ease 0.2s;
}

.history {
  margin-left: 24px;
  background-color: #efefef;
  padding: 16px;
}

.lastUpdated {
  font-style: italic;
}

.familyImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 80%;

  >* {
    margin-top: 16px;
  }
}

section.section {
  &:hover {
    >h3.sectionHeader {
      -webkit-filter: none;
      filter: none;
    }
  }
}

ul.sectionContent {
  border-radius: 8px;
  display: inline-block;
  list-style: circle;
  padding: 20px;

  >li.sectionContentItem {
    list-style: circle;
  }
}